$white:         #ffffff;
$pale-violet:   #bdb4f0;
$mint:          #43b68a;
$black-cow:     #474747;
$heavy-metal:   #2c2c2c;
$midnight-blue: #09003d;
$total-black:   #000000;

@font-face {
    font-family: "Noto Sans";
    src: url("../res/fonts/NotoSans-Regular.ttf") format("truetype");
}

body {
    margin: 0;
}

h1 {
    font-family: "Noto Sans";
    font-size: 2em;
}

#intro {

    .video-image {
        position: absolute;
        background: url("../res/img/lwebb-static.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 99vw;
        height: 100vh;
        z-index: -1;
    }
    
    .video-mask {
        max-width: 100vw; 
        height: 100vh;
        background-color: rgba($midnight-blue, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    h1 {
        color: $pale-violet;
        padding: 1em;
        font-weight: 400;
    }
    
    .emphasize {
        color: $white;
        font-weight: 700;
    }    
}


#skills {
    background-color: $heavy-meta;
    max-width: 100vw; 
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        color: $white;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    
        i {
            font-size: 5em;
            color: $mint;
        }

        h1 {
            font-size: 2em;
            letter-spacing: normal;
            font-weight: 400;
        }

        ul {
            margin-top: 0;

            li {
                font-family: "Noto Sans";
                font-size: 1em;
                font-weight: 400;
                text-align: left;
                color: $white;
            }    
        }
    }    
}

#projects {
    background-color: $black-cow;
    max-width: 100vw; 
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        color: $white;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
    }

    p {
        font-family: "Noto Sans";
        font-size: 1em;
        font-weight: 400;
        color:$white;
        padding-bottom: 2em;
    }
}

#contact {
    background-color: $heavy-meta;
    max-width: 100vw; 
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        color: $white;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
    }

    i {
        font-size: 5em;
        color: $mint;
    }

    p {
        font-family: "Noto Sans";
        font-size: 2em;
        font-weight: 700;
        color:$white;
    }
}

#footer {
    background-color: $total-black;
    max-width: 100vw; 
    text-align: center;

    p {
        margin: 0;
        padding: 1em;
        font-family: "Noto Sans";
        font-size: 0.75em;
        font-weight: 700;
        color: $white;
    }
}

@media (min-width: 750px) {

    #intro {
        h1 {
            font-size: 3em;
            padding: 3em;
        }
    }

    #skills {
        .skills-row {
            display: flex;
            flex-direction: row;
            align-items: top;
            justify-content: center;
        }
    }
}

@media (min-width: 1200px) {

    #intro {
        h1 {
            font-size: 3em;
            padding: 5em;
        }
    }

    #skills {
        .skills-row-master {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (min-width: 1500px) {

    #intro {
        h1 {
            font-size: 3.5em;
            padding: 7em;
        }
    }
}
