body {
    margin: 0;
}

h1 {
    color: white;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
}

.video-mask {
    position: fixed;
    min-width: 100vw; 
    min-height: 100vh;
    background-color: rgba(9, 0, 61, 0.7);
}